*.tmp
bin/
obj/
_Output_/
*.suo
*.csproj.user
*.DotSettings.user
build*.log
*.log
_ReSharper*
*.Publish.xml
*.wbk
~$*.doc
ThumbnailsCache.tmp
*.sdf
*.chw
*.7z
*.ci
*.c.pickle
result1/
pre_cci.c
combined_*.c
